{% load staticfiles %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta name="author" content="Autumn Wang" />
	<meta name="description" content="Simple IMAP" />
	<!--meta http-equiv="refresh" content="{%block auto_refresh_interval%}10{%endblock%}"-->
	<title>
		Simple IP Address Management Tool
	</title>
	<link href="{% static 'bootstrap3/css/bootstrap.css' %}" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'css/gslbconsole.css' %}" type="text/css" media="screen" />
	
	<link rel="stylesheet" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css" />
	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
	<script src="{% static 'bootstrap3/js/bootstrap.js' %}"></script>
</head>

<body>
<div class="container-fluid">
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<div class="page-header">
				<!--<div class="container-fuild">-->
				<div class="row">
					<div class="col-xs-2"> 
						<img src="{% static '/static/images/logo.jpeg' %}" class="img-rounded" height="20" width="40">
					</div>
					<div class="col-xs-4 col-xs-offset-2"> 
						<H4>Simple IPAM</H4>
					</div>
			    </div>
				<!--</div>-->
			</div> <!-- page-header -->
			
			<nav class="navbar navbar-default" role="navigation">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#my-collapse-1">
					        <span class="sr-only">Toggle navigation</span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
						</button>
					</div>
				</div>
				{% block menu %} {% endblock %}
			</nav> <!-- navigation -->
		</div> <!-- Container -->
	</nav> <!-- navbar-fixed-top -->
	
	{% block content %}{% endblock %}
	<!--
	<div class="row">
		<div class="container-fluid">
		    <nav class="navbar navbar-default navbar-fixed-bottom">
		        <div class="navbar-inner navbar-content-center">
		            <p class="text-muted credit text-right">Copyright 2014 @ <b><a href="http://autodesk.com">Autodesk Inc.</a></b></p>
		        </div>
		    </nav>
		</div>
	</div>
	-->
</div>
</body>
</html>
	